*.aux
*.bbl
*.blg
*.log
*.rel
*~
tmpdir*
.emacs*
auto/**
images/*converted-to*
document-*.pdf
document-*.tex
_region_.tex
document.pdf
document-*Notes.bib
*.lof
*.tbx
arXiv.zip
journalX.zip
document-all.tar.gz
patch
